/* navbar */
.navbar .container {
    height: 126px;
}

.nav-list-link {
    color: var(--clr-grey);
    display: inline-block;
    padding: 0 20px;
    transition: .25s ease color;
}

.nav-list-link.active,
.nav-list-link:hover {
    color: var(--clr-black);
}

/* header */
.hero-btns {
    margin-top: 35px;
}


/* advantages */
/* cards */
.card-icon {
    border: 1px solid var(--clr-background);
    border-radius: 12px;
    padding: 14px;
}

/* features */
.features {
    padding: 90px 0;
}

.feature-item {
    column-gap: 95px;
}

.feature-img {
    flex: 1;
    width: 0;
}

.tags {
    margin-top: 16px;
}

/* reviews */
.reviews-section-header {
    width: 41.6%;
}

.reviewer-name {
    margin-top: 35px;
}

.reviewer-card {
    position: relative;
}

.reviewer-img {
    position: absolute;
    top: -40px;
}

.reviews-btns {
    column-gap: 15px;
}

/* overview */
.overview-section {
    padding: 70px 0;
}

.overview-item {
    padding: 0 48px;
}

.v-line {
    width: 1px;
    height: 92px;
    margin: 0 15px;
    opacity: 0.2;
}

.h-line {
    height: 1px;
}

/* contact us */
.contact-us {
    padding: 120px 0;
}

.contact-us .container {
    column-gap: 125px;
}

.contact-subtitle {
    margin-top: 24px;
}

.contact-us .contacts {
    margin-top: 80px;
}

.contact-us .contacts>p {
    margin-top: 24px;
}

.contact-card {
    flex: 1;
}

.contact-us .submit-btn {
    margin-top: 83px;
}

/* subscribe */
.subscribe-section {
    padding: 80px 0;
}

.subscribe-section .container {
    column-gap: 125px;
}

.subscribe-section .subscribe-subtitle {
    margin-top: 24px;
}

.subscribe-section .subscribe-email-input {
    background-color: var(--clr-helper-blue-3);
    border-radius: 6px;
    padding: 15px 25px;
    color: var(--clr-black);
    border: none;
    flex: 1;
}

.subscribe-section .subscribe-email-input::placeholder {
    color: var(--clr-black);
    opacity: 1;
}

.subscribe-section .subscribe-action form {
    background-color: var(--clr-helper-blue-3);
    border-radius: 6px;
}

.subscribe-section .subscribe-action form button {
    min-width: 125px;
}

/* footer */
.info-links {
    margin: 0 120px;
}

.footer-contact-item {
    gap: 36px;
    margin-top: 15px;
}

.txt-arrow {
    gap: 4px;
}

.social-links {
    margin: 0 30px;
}

.social-links-list {
    gap: 15px;
    margin-top: 15px;
}

.social-link-item {
    color: white;
    background-color: var(--clr-primary);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
}

.footer-down-l {
    gap: 76px;
}